@import "../../index.css";

.container {
  display: flex;
  padding: 0.5rem;
  background-color: white;
}

.container > form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.container textarea {
  width: 100%;
  height: 100%;
  font-size: var(--text-regular);
  border: none;
  resize: none;
}

.container textarea:focus-visible {
  outline: none;
}

.container > form > button {
  font-size: var(--text-regular);
  height: 100%;
}
