@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --text-regular: 0.7rem;
}

body {
  margin: 0;
  font-family: "Noto Sans", serif;
  color: white;
}
html {
  filter: blur(0.3px);
}
svg {
  display: block;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  :root {
    --text-regular: 0.8rem;
  }
}
