@import "../../index.css";

.message {
  border-radius: 15px;
  gap: 0.5rem;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: var(--text-regular);
}

.message * {
  margin: 0;
}

.text {
  color: black;
  overflow: hidden;
  overflow-wrap: break-word;
  padding-left: 1rem;
}

.sender {
  color: rgb(103, 103, 103);
}
