.message {
  display: flex;
  border-radius: 15px;
  gap: 0.5rem;
  max-width: 100%;
}

.message * {
  margin: 0;
}

.message > img {
  align-self: end;
  height: 2.5rem;
  width: 2.5rem;
}

.message > p {
  padding: 0.75rem 1rem;
  border-radius: 20px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.sent > p {
  background-color: blue;
}

.sent {
  justify-content: end;
}

.recieved > p {
  order: 2;
  color: black;
  background-color: rgb(255, 255, 255);
}
